@import "../variables.scss";

.container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   gap: 0px;
    height: 100vh;
    background-color: #28282b;
    color :white;
       


}

.name,.role{
    // margin-top: 12rem;
     margin-left: 14rem;
    margin-bottom: 0;
    font-family: $primary-font;
    font-size:clamp(2rem, 3vw + 1rem, 6rem);
     

}

.role{
    margin-top: 0;
    font-family: $secondary-font;
    font-size:clamp(0.8rem, 1.5vw + 1rem, 4rem);
    color:$green-color;
}



@media (max-width:768px) {
    
    .name{
        // margin-top: 12rem;
         margin-left: 5rem;
        font-size: 1.5rem;
    
    }.role{
        // margin-top: 12rem;
         margin-left: 5rem;
        font-size: 0.8rem;
    
    }
    

}


@media (max-width:450px) {
    .name,.role{
        // margin-top: 12rem;
         margin-left: 3rem;
        
    
    }

    .name{
        font-size: 1rem;
    }

    .role{
        font-size: 0.5rem;
    }

  
}  
@media (max-width:350px) {
    .name,.role{
        // margin-top: 12rem;
         margin-left: 1.5rem;
        
    
    }

}