@import "../variables.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 10rem;
  background-color: $black-color;
  position: relative;
}

.wrapper {
  width: 75%;
 
}

.header1 {
  font-family: $primary-font;
  color: $white-color;
  margin: 0;
  font-size: xx-large;
}

.cardList {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  gap: 4rem;
  justify-content: space-between;
  align-items: center;
  color: $white-color;
  font-family: $secondary-font;

  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;

  height: auto;
}
.card {
  scroll-snap-align: start;
  height: 38rem;
 
}
.Pname {
  font-family: $primary-font;
  font-size: 1.25rem;
}
.scollbtnleft {
  position: absolute;
  left: 7%;
  top: 50%;
  cursor: pointer;
}

.scollbtnright {
  position: absolute;
  right: 7%;
  top: 50%;
  cursor: pointer;
}

.pImg {
  

  width: 19vw;
  aspect-ratio: 1/1;
  object-fit:contain;
}

.link{
  color: $white-color; /* Keeps the link the same color as surrounding text */
  text-decoration: none; /* Removes underline from the link */
}

.desc{
   
  // display: -webkit-box;
  // -webkit-line-clamp: 2;
  // -webkit-box-orient: vertical;
  // overflow: hidden;
  // text-overflow: ellipsis;

  // max-height: 4rem; 
  
}
