@import "../variables.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 10rem;
  background-color: $white-color;
  position: relative;
}

.wrapper {
  width: 75%;
 
}

.header1 {
  font-family: $primary-font;
  color: $black-color;
  margin: 0;
  font-size: xx-large;
}

.cardList {
  margin-top:2rem;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  gap: 1.5rem;
  justify-content: space-between;
  align-items: center;
  color: $black-color;
  font-family: $secondary-font;

  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;

  height: auto;
}
.card {
   
  scroll-snap-align:center;
  height: 30rem;
  padding: 1rem;
  box-shadow: 0 0 3px $black-color;
  transition: transform 300ms;
}
.card:hover {
  
  box-shadow: 0 0 3px 3px $black-color;
  transform: scale(1.05);
}
.Pname {
  font-family: $primary-font;
  font-size: 1.25rem;
}
.scollbtnleft {
  position: absolute;
  left: 7%;
  top: 50%;
  cursor: pointer;
}

.scollbtnright {
  position: absolute;
  right: 7%;
  top: 50%;
  cursor: pointer;
}

 
.pImg {
  

  width: 20vw;
  aspect-ratio: 2/1;
  object-fit:fill;
}

.link{
  color: $black-color; /* Keeps the link the same color as surrounding text */
  text-decoration: none; /* Removes underline from the link */
}

.desc{
   
  // display: -webkit-box;
  // -webkit-line-clamp: 2;
  // -webkit-box-orient: vertical;
  // overflow: hidden;
  // text-overflow: ellipsis;

  // max-height: 4rem; 
  
}


.iconlist{
 display: flex;
  
   
}

.icon{
  color:$black-color;
  font-size:1.25rem;
  padding-right:1rem;
}


@media (max-width:768px)
{
  .header1{
    font-size:large;

  }

  .Pname{
    font-size:small;
  }

  .pImg{
    width: 30vw;
    aspect-ratio: 2/1;
  }
  .cardList{
    padding: 0.5rem;
  }

  .icon{
    font-size: 1rem;
  }
  .card{
    font-size: smaller;
    height: 27rem;
  }
  .card:hover{
    transform: scale(0.95);
  }
}


@media (max-width:450px)
{
  .header1{
    font-size:medium;

  }

  .Pname{
    font-size:small;
  }

  .pImg{
    width: 65vw;
    aspect-ratio: 2/1;
  }
  .cardList{
    padding: 0.5rem;
  }

  .icon{
    font-size: 1rem;
  }
  .card{
    font-size: xx-small;
    height: 22rem;
  }

  .card:hover{
    transform: scale(0.8);
  }

}

