 
$black-color: #28282B;
$white-color: #F9F6EE;
$green-color:#81EE85;
$darker-green-color:#06B20D;

$blue-color:#0B63E7;
$blackShade-color:#3B3B3B;
$primary-font: "Aldrich", Arial, sans-serif;
$secondary-font:"Andika", Arial, sans-serif;
